IonHeader {
  background-color: #fff;
}

.detailed-output-container {
  width: 100%;
  top: 450px;
  position: absolute;
  border-radius: 0px;
}

.page-elements {
  max-width: 600px;
  min-width: 300px;
}
